:root {
  --bg-body: #efefef;
  --title-dark: #4c4c4c;
  --subtitle-dark: #505050;
  --text-dark: #6a6a6a;
  --light-dark: #585858;
  --primary-orange: #fe9e0d;
  --second-orange: #e48f0f;
  --primary-white: #ffffff;
  --secondary-btn: rgb(234, 234, 234);
  --display-btn: #484848;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-body);
}
section {
  margin-bottom: 8rem;
}
a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.06rem;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
}
h1,
h2 {
  font-size: 2rem;
  color: var(--title-dark);
  max-width: 600px;
}

h3 {
  font-weight: 700;
  color: var(--primary-orange);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
h4 {
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--subtitle-dark);
  margin: 1.2rem 0rem;
}
p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: var(--text-dark);
  margin: 1.5rem 0rem;
}
button {
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  padding: 1rem;
  background-color: var(--primary-white);
}
button:hover {
  background-color: var(--secondary-btn);
}
svg {
  font-size: 1.5rem;
}
/*; swiper part  */
.swiper {
  margin-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}
.pagination {
  bottom: 0;
  padding-bottom: 4px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--display-btn) !important;
  display: none !important;
}

/* General class  */
.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;
  background-color: var(--primary-orange);
  color: var(--primary-white);
}
.secondary-btn:hover {
  background-color: var(--second-orange);
}
.secondary-btn svg {
  margin-left: 0.75rem;
}

/*** Nav  ***/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
nav a:hover {
  border-bottom: 2px solid black;
}
nav a:hover:nth-child(5) {
  border-bottom: 2px solid transparent;
}
.navbar-menu-container {
  display: none;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.navbar-menu-container svg {
  cursor: pointer;
}
/*** Home  ***/
header {
  position: relative;
  display: flex;
  padding-top: 3rem;
  gap: 1rem;
}
.home-banner-img {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
  display: none;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.home-img img,
.about-img img {
  width: 500px;
}

/*** About  ***/

.about-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-banner-img {
  position: absolute;
  left: -150px;
  z-index: -2;
  display: none;
}
.about-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2.5rem;
}
.about-btn {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.about-btn button {
  padding: 0.3rem 1.8rem;
}
.watch-video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--display-btn);
  transition: 0.2s;
  cursor: pointer;
}
.watch-video-btn svg {
  font-size: 3rem;
  margin-right: 1rem;
}
/*** Work  ***/
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section-title p {
  max-width: 600px;
}
.work-card-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.work-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  min-height: 350px;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--primary-white);
  color: var(--subtitle-dark);
}
.work-card-info img {
  width: 141px;
  height: 141px;
}
.work-card-info p {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.4rem;
  flex: 1;
  color: var(--light-dark);
}
/*** Testimonial  ***/
.testimonial-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  background-color: var(--primary-white);
  max-width: 260px;
  padding: 1.5rem 0.8rem;
  margin: 2rem auto;
  height: 435px;
}
.testimonial-card p {
  font-weight: 700;
  color: var(--light-dark);
  font-size: 1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  color: var(--primary-orange);
}
/*** Contact  ***/
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
}
.contact-section h2 {
  max-width: 900px;
  margin-bottom: 1rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
form input {
  outline: none;
  text-align: center;
  border: none;
  border-radius: 1rem;
  padding: 0.9rem 1.3rem;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

/*** Footer  ***/
footer {
  display: flex;
  justify-content: space-between;
}
/* footer right  */
.footer-right-columns {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-logo-foodie {
  max-width: 110px;
}
.footer-icons {
  margin: 2.5rem 0;
}
.footer-icons svg {
  margin-right: 1.25rem;
  color: var(--light-dark);
}
/* footer left  */
.footer-left-column {
  display: flex;
}
.footer-list {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  line-height: 1.5rem;
}
.footer-list span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: var(--title-dark);
  cursor: pointer;
}

/*** RESPONSIVE  ***/
@media (width > 480px) {
  .testimonial-card {
    max-width: 330px;
    padding: 1.5rem 2rem;
  }
  .testimonial-card p {
    font-size: 1.1rem;
  }
}
@media (width > 480px) {
  .home-banner-img,
  .about-banner-img {
    display: unset;
  }
  .about-banner-img {
    left: -300px;
  }
}

@media (width > 768px) {
  .about-banner-img {
    left: -260px;
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--primary-white);
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 3rem;
  }
  form input {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 0.5rem 1rem;
    max-width: 100%;
    margin-bottom: unset;
    text-align: left;
    font-size: 1.4rem;
  }
}
@media (width > 1000px) {
  h1,
  h2 {
    font-size: 3rem;
  }
  h1 {
    font-size: 3.2rem;
  }
  .testimonial-card {
    margin-top: 2rem;
    max-width: 750px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block !important;
  }
}
@media (max-width: 1000px) {
  h1,
  h2 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 1.5rem;
    min-width: 350px;
  }
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  .home-banner-img {
    max-width: 600px;
  }
}
@media (width < 800px) {
  .App {
    max-width: 95vw;
  }
  h1,
  h2 {
    font-size: 2.5rem;
  }
  h1,
  h2,
  h3,
  p {
    text-align: center;
    max-width: 90%;
  }
  p {
    max-width: 80%;
  }
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-banner-img {
    max-width: 450px;
  }
  header,
  .about-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section {
    flex-direction: column;
  }
  .about-img {
    width: 100%;
    max-width: 400px;
  }
  .about-btn button {
    padding: 1rem 1.2rem;
  }
  .home-text,
  .about-text {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-left: unset;
  }
  .secondary-btn {
    padding: 0.8rem 2rem;
  }
  .about-btn {
    justify-content: center;
    flex-direction: column;
  }
  .work-card-container {
    margin-top: 1rem;
  }

  footer {
    flex-direction: column;
  }
  .footer-left-column {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-list {
    margin: 1rem 0rem;
  }
}
